body{
text-align: center;
margin: 0;
}
form{
	margin:200px auto;
}
h1{
	font-size:69px;
	opacity: 0.7;
	letter-spacing: 2px;
	
}

#inputQuery{
	border-radius: 25px;
	width:30.5em;
	height: 2.5em;
}


input{
	font-size: 20px;
	border:1px solid black;
	box-shadow:1px 1px 1px 2px rgba(0,0,0, .1);
}
#button{
	margin: 20px auto;
}
#image-search{
	margin-right:12px;
	text-align: center;
}
#image-search, #advanced-search{
	font-size: 20px;
	text-align: right;
    margin: 12px;
}


#mic {
	position: absolute;
	margin-left: 570px;
	padding: 17px;
	text-align: center;
	
}
.links{
	margin-top: 0;
	margin-left: 1200px;
}





